footer {
	padding: 70px 0px;
	background: url('/images/footer-bg.jpg') no-repeat;
	background-size: cover;
	margin-top: 40px;
	h4, p {
		color: white;
	}

	p {
		font-size: 13px;
		line-height: 24px;
	}

	h6 {
		color: white;
		font-size: 13px;
		text-align: center;
	}

	.footer-logo {
		margin-bottom: 120px;
		img {
			margin: 0 auto;
		}
	}

	h4 {
		margin: 40px 0px;
	}

	ul {
		text-align: right;
		li {
			line-height: 24px;
			a {
				color: white;
				&:hover {
					color: white;
					text-decoration: underline;
				}
			}
		}
	}
}