.Home__bg {
	background: url('/images/top-bg.jpg') no-repeat center center;
	background-size: cover;
}

.Home {
	.action-button {
		width: 150px;
	}
	
	figure {
		display: flex;

		h3 {
			color: #cc9966;
			font-size: 16px;
			margin-bottom: 30px;
		}

		h2 {
			color: white;
			font-size: 48px;
			margin-bottom: 40px;
		}

		p {
			color: #ccc;
			margin-bottom: 15px;
		}

		.action-button {
			margin-top: 20px;
		}

		.signature {
			margin-top: 50px;
		}

		figcaption {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		blockquote {
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
			.author {
				margin: 0;
				color: #ccc;
				font-size: 13px;
				font-weight: 400;
				letter-spacing: 0.25em;
				text-transform: uppercase;
			}
			.designation {
				margin: 0;
				color: #666;
				font-size: 13px;
				font-weight: 400;
				line-height: 18px;
			}

			&::before {
				content: "\f10d";
				font-family: FontAwesome;
				font-size: 36px;
				color: #cc9966;
				margin-bottom: 60px;
				display: inline-block;
			}
		}

		.quote {
		    color: #ccc;
		    font-size: 18px;
			font-style: italic;
		    text-align: center;
		    line-height: 24px;
		    margin-bottom: 50px;
		}
	}

	.Figure--with-padding {
		padding: 40px 0px;
	}

	.Figure__left {
		flex: 1;
	}

	.Figure__right {
		flex: 1;
	}

	.Figure__reverse {
		flex-direction: row-reverse;
	}

	.Figure--with-dark-bg {
		background-color: #161616;
	}

	.Figure__content {
	    width: 75%;
	    margin: 0 auto;
	}
}

.Home__title--container {
	padding: 40px 0px;
}

.Home__title {
	text-align: center;
}

.Home__subtitle {
	color: #555;
	text-align: center;
}