@media screen and (max-width: 320px) {	// iPhone 5
	.Home {
		figure {
			flex-direction: column;
			margin-bottom: 20px;
			h2 {
				font-size: 28px;
				margin-bottom: 20px;
			}
			h3 {
				margin-bottom: 20px;
			}
		}

		.Figure__content {
			width: 90%;
		}

		.Figure__reverse {
			flex-direction: column;
		}
	}

	.Subheader {
		background-position: center center;
	}

	.Item__price--old {
		flex: 0.3
	}

	.Item__availability--stocks-left {
		flex: 0.8 !important; 
	}
}

@media screen and (max-width: 414px) {	// iPhone6 Plus
	.Home {
		figure {
			flex-direction: column;
			margin-bottom: 20px;
		}
		.Figure__reverse {
			flex-direction: column;
		}

		.Figure__content {
			width: 90%;
			padding: 20px 0px;
		}
	}

	.Subheader {
		background-position: center center;
	}

	.Item__price--old {
		flex: 0.3
	}

	.Item__availability--stocks-left {
		flex: 0.6;
	}

	.Footer__contents {
		flex-direction: column;

		h4, ul, p {
			text-align: center;
		}

		h6 {
			margin-bottom: 20px;
		}

		.footer-logo {
			margin-bottom: 60px;
		}
	}
}

@media screen and (max-width: 768px) {
	.Home {
		figure {
			h2 {
				font-size: 26px;
				margin-bottom: 20px;
			}
			h3 {
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 0;
			}

			blockquote::before {
				margin-bottom: 30px;
			}

			.quote {
				margin-bottom: 30px;
			}
		}
	}
}