h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-transform: uppercase;
}

.form-control {
	border-radius: 0;
	-webkit-appearance: none;
}

.btn {
	border-radius: 0;
}

.input-group-btn {
	&:first-child .btn {
		margin-right: -2px;
	}
	.btn:focus {
		outline: 0;
	}
}

.navbar {
	margin-bottom: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

blockquote {
	border-left: 0;
}