body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: white; }

.Home__bg {
  background: url("/images/top-bg.jpg") no-repeat center center;
  background-size: cover; }

.Home .action-button {
  width: 150px; }

.Home figure {
  display: -ms-flexbox;
  display: flex; }
  .Home figure h3 {
    color: #cc9966;
    font-size: 16px;
    margin-bottom: 30px; }
  .Home figure h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 40px; }
  .Home figure p {
    color: #ccc;
    margin-bottom: 15px; }
  .Home figure .action-button {
    margin-top: 20px; }
  .Home figure .signature {
    margin-top: 50px; }
  .Home figure figcaption {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column; }
  .Home figure blockquote {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .Home figure blockquote .author {
      margin: 0;
      color: #ccc;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.25em;
      text-transform: uppercase; }
    .Home figure blockquote .designation {
      margin: 0;
      color: #666;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px; }
    .Home figure blockquote::before {
      content: "\f10d";
      font-family: FontAwesome;
      font-size: 36px;
      color: #cc9966;
      margin-bottom: 60px;
      display: inline-block; }
  .Home figure .quote {
    color: #ccc;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    line-height: 24px;
    margin-bottom: 50px; }

.Home .Figure--with-padding {
  padding: 40px 0px; }

.Home .Figure__left {
  -ms-flex: 1;
  flex: 1; }

.Home .Figure__right {
  -ms-flex: 1;
  flex: 1; }

.Home .Figure__reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.Home .Figure--with-dark-bg {
  background-color: #161616; }

.Home .Figure__content {
  width: 75%;
  margin: 0 auto; }

.Subheader {
  height: 300px;
  background: url("/images/subheader-bg.jpg") no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
  position: relative; }
  .Subheader::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .Subheader h2 {
    width: 80%;
    color: white;
    z-index: 1;
    text-align: center; }

.Subheader--item {
  height: 420px;
  background: url("/images/subheader-item-bg.jpg") center center no-repeat;
  background-size: cover; }

.Page__title {
  font-size: 18px;
  margin-top: 0; }

.Subpage__subtitle--container {
  margin: 70px 0px; }

.Subpage__subtitle {
  text-align: center; }

.Subpage__subtitle--small {
  color: #555;
  text-align: center; }

.Cards {
  overflow: hidden; }

.Card {
  position: relative;
  margin-bottom: 30px; }

.Card__info {
  position: absolute;
  top: 15px;
  background: white;
  padding: 5px 10px; }

.Item--is-new {
  left: 30px; }
  .Item--is-new span {
    font-weight: bold;
    text-transform: uppercase; }

.Item--is-onsale {
  right: 30px; }
  .Item--is-onsale span {
    color: red; }

.Card__content {
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Card__title {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.Card__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: row;
  flex-direction: row; }
  .Card__price > * {
    margin: 0px 8px; }

.Card__price--new {
  color: #cc0000;
  font-size: 18px;
  font-weight: bold; }

.Card__price--old {
  color: #999;
  text-decoration: line-through; }

.Card__action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Card__action button {
    text-transform: uppercase; }

.price {
  color: #cc0000;
  font-weight: bold; }

.Item__images--container {
  margin-bottom: 40px; }

.Item__thumbnails {
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.Item__name {
  font-size: 18px;
  margin-top: 0; }

.Item__description {
  color: #555;
  margin: 40px 0px; }

.Item__price--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0px; }

.Item__price--old {
  -ms-flex: 0.15;
  flex: 0.15;
  color: #999;
  text-decoration: line-through; }

.Item__price--new {
  color: #cc0000;
  font-weight: bold;
  font-size: 24px; }

.Item__availability {
  display: -ms-flexbox;
  display: flex; }

.Item__availability--stocks-left {
  -ms-flex: 0.2;
  flex: 0.2; }

.Item--is-available {
  color: #99cc00; }

.Item--is-not-available {
  color: #cc0000; }

.Cart .table th {
  text-transform: uppercase; }

.Cart .table td {
  padding: 20px; }

.Cart--isEmpty {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.Cart__item {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-transform: capitalize; }
  .Cart__item a {
    color: black;
    text-decoration: none; }
    .Cart__item a:hover {
      color: #999;
      text-decoration: none; }

.ReviewCart th {
  font-weight: normal; }

.ReviewCart__item-with-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ReviewCart__item-with-image p {
    font-size: 12px;
    text-align: center; }
  .ReviewCart__item-with-image img {
    margin-bottom: 5px; }

.Payment__errors {
  display: none;
  padding: 7px 10px; }

.Footer__contents {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

footer {
  padding: 70px 0px;
  background: url("/images/footer-bg.jpg") no-repeat;
  background-size: cover;
  margin-top: 40px; }
  footer h4, footer p {
    color: white; }
  footer p {
    font-size: 13px;
    line-height: 24px; }
  footer h6 {
    color: white;
    font-size: 13px;
    text-align: center; }
  footer .footer-logo {
    margin-bottom: 120px; }
    footer .footer-logo img {
      margin: 0 auto; }
  footer h4 {
    margin: 40px 0px; }
  footer ul {
    text-align: right; }
    footer ul li {
      line-height: 24px; }
      footer ul li a {
        color: white; }
        footer ul li a:hover {
          color: white;
          text-decoration: underline; }

.Cart .Subpage__subtitle--container {
  margin: 30px 0px; }

.Checkout .Subpage__subtitle--container {
  margin: 30px 0px; }

.Checkout .Subpage__subtitle {
  text-align: left; }

.Checkout h3:not(.Subpage__subtitle) {
  margin-top: 40px;
  margin-bottom: 30px; }

@media screen and (max-width: 320px) {
  .Home figure {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
    .Home figure h2 {
      font-size: 28px;
      margin-bottom: 20px; }
    .Home figure h3 {
      margin-bottom: 20px; }
  .Home .Figure__content {
    width: 90%; }
  .Home .Figure__reverse {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Subheader {
    background-position: center center; }
  .Item__price--old {
    -ms-flex: 0.3;
    flex: 0.3; }
  .Item__availability--stocks-left {
    -ms-flex: 0.8 !important;
    flex: 0.8 !important; } }

@media screen and (max-width: 414px) {
  .Home figure {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
  .Home .Figure__reverse {
    -ms-flex-direction: column;
    flex-direction: column; }
  .Home .Figure__content {
    width: 90%;
    padding: 20px 0px; }
  .Hero .Figure__left {
    width: 60%; }
  .Hero .Figure__right {
    position: absolute;
    right: -160px; }
  .Hero .Figure__content {
    width: 50%; }
  .Subheader {
    background-position: center center; }
  .Item__price--old {
    -ms-flex: 0.3;
    flex: 0.3; }
  .Item__availability--stocks-left {
    -ms-flex: 0.6;
    flex: 0.6; }
  .Footer__contents {
    -ms-flex-direction: column;
    flex-direction: column; }
    .Footer__contents h4, .Footer__contents ul, .Footer__contents p {
      text-align: center; }
    .Footer__contents h6 {
      margin-bottom: 20px; }
    .Footer__contents .footer-logo {
      margin-bottom: 60px; } }

@media screen and (max-width: 768px) {
  .Home figure h2 {
    font-size: 26px;
    margin-bottom: 20px; }
  .Home figure h3 {
    margin-bottom: 10px; }
  .Home figure p {
    margin-bottom: 0; }
  .Home figure blockquote::before {
    margin-bottom: 30px; }
  .Home figure .quote {
    margin-bottom: 30px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase; }

.form-control {
  border-radius: 0;
  -webkit-appearance: none; }

.btn {
  border-radius: 0; }

.navbar {
  margin-bottom: 0; }

ul {
  list-style: none;
  padding-left: 0; }

blockquote {
  border-left: 0; }

/*# sourceMappingURL=app.css.map */
