body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: white;
}

@import 'components/Home';
@import 'components/Subheader';
@import 'components/Subpage';
@import 'components/Card';
@import 'components/Item';
@import 'components/Cart';
@import 'components/Footer';
@import 'components/MediaQueries';
@import 'components/Overwrite';