body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

.Page__title {
	font-size: 18px;
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
}

@import 'components/Home';
@import 'components/Card';
@import 'components/Item';
@import 'components/Cart';
@import 'components/MediaQueries';