body {
	font-family: 'Lato';
	font-size: 14px;
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	// text-transform: uppercase;
}

ul {
	list-style: none;
}

.Page__title {
	font-size: 18px;
	margin-top: 0;
}

@import 'components/Card';
@import 'components/Item';
@import 'components/Cart';